.circle-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.bg-card {
    background-color: rgba(40, 63, 168, 0.541)!important;
    margin: 1rem;
}

.titulo {
    font-size: 22px;
    text-align: center;
}